body{
  background-color: #6a7b8c;
}

#calc1{
  height: 100%;
  width: 25%;
  margin: 0 auto;
  background-color: #223038;
  border-color: #00000
}


.numeral{
  height: 100%
  width:auto;
  color: #121212;
}
.operator{
  height: 100%;
  width:auto;
}
